*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    background: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.calculator {
    padding: 20px;
    width: 300px;
    background: skyblue;
    border-radius: 10px;
    height: 400px;
    
}
.calculator form input {
    width: 40px;
    height: 40px;
    border: 0;
    outline: 0;
    color: blue;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    box-shadow: -8px -8px 15px rgba(51, 40, 75, 0.1), 5px 5px 15px rgba(46, 38, 75, 0.2);
    background: white;
}

.calculator .operator {
    background: blue;
    color: #e2e9f1;
}
form .display {
    display: flex;
    margin: 20x 2px;
    justify-content: flex-end;
}
form .display input {
    flex: 1;
    font-size: 25px;
    text-align: right;
}   
form input.equal {
    background: blue;
    color: #e2e9f1;
    width: 105px;
    height: 40px;
    
}